Source: finalterm
Section: contrib/utils
Priority: extra
Maintainer: Philipp Emanuel Weidmann <pew@worldwidemann.com>
Build-Depends: debhelper (>= 8.0.0), cmake, valac-0.18, libgee-0.8-2, libmx-dev, libclutter-gtk-1.0-dev, libnotify-dev, libunity-dev
Standards-Version: 3.9.2
Homepage: http://finalterm.org/
Vcs-Browser: https://github.com/p-e-w/finalterm
Vcs-Git: https://github.com/p-e-w/finalterm.git

Package: finalterm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, valac-0.18, libgee-0.8-2, libmx-dev, libclutter-gtk-1.0-dev, libnotify-dev, libunity-dev
Description: At last – a modern terminal emulator
 finalterm goes beyond mere emulation and understands what is
 happening inside the shell it is hosting. This allows it to
 offer features no other terminal can, including semantic text
 menus, smart command completion and GUI terminal controls
