#!/usr/bin/make -f

%:
		dh $@

build: build-stamp
		dh_testdir
		dh_auto_configure
		dh_auto_build

build-stamp:
		dh_testdir
		touch build-stamp

clean:
		dh_testdir
		dh_testroot
		rm -f build-stamp
		dh_clean

install: build clean
		 dh_testdir
		 dh_testroot
		 dh_prep
		 dh_installdirs
		 dh_installman
		 dh_auto_install

binary-indep: build install
			  dh_shlibdeps
			  dh_testdir
			  dh_testroot
			  dh_installchangelogs
			  dh_installdocs
			  dh_installexamples
			  dh_installman
			  dh_auto_install
			  dh_link
			  dh_compress
			  dh_fixperms
			  dh_installdeb
			  dh_gencontrol
			  dh_md5sums
			  dh_builddeb

binary-arch: build install

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
